.form {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
}

.input {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
}

.button {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
}
