.todoItem {
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  padding: 12px 8px;
  display: flex;
}

.todoItem + .todoItem {
  margin-top: 8px;
}

.content[data-checked='true'] {
  text-decoration: line-through;
}

.dueDateTime[data-checked='true'] {
  text-decoration: line-through;
}
