$max-width: 800px;
$edge-padding: 16px;
$header-height: 32px;
$footer-height: 32px;
$ui-height: 48px;
$ui-width: 120px;
$border-radius: 4px;
$font-size: 1.6rem;
$font-nanum-square: 'NanumSquareR';

@mixin ui-default {
  min-width: $ui-width;
  height: $ui-height;
  border-radius: $border-radius;
  &.small {
    height: $ui-height - 10px;
    font-size: $font-size - 0.2rem;
  }
  &.large {
    height: $ui-height + 10px;
    font-size: $font-size + 0.4rem;
  }
  &.full {
    display: block;
    width: 100%;
  }
}
